$dotSize: 3em;
$margin: 1em;

$g: #8deb95;
$p: #9561b4;
$r: #ef5e43;
$b: #8cbdff;
$y: #eadb2a;

$classes: 'g', 'p', 'r', 'b', 'y';
$colors: $g, $p, $r, $b, $y;

html, body { margin: 0; padding: 0; width: 100%; height: 100%; overflow: hidden; }
body { background: #fff; }
body.inSquare li { -webkit-animation: 450ms ease-in-out flash; animation: 450ms ease-in-out flash; }
@-webkit-keyframes "flash" { 50% { opacity: .6; } }
@keyframes "flash" { 50% { opacity: .6; } }
ul {
	margin: 0;
	padding: 30px 0;
	list-style: none;
	position: absolute;
	top: 0; bottom: 0;
	width: $dotSize + ( $margin * 2 );

	@for $i from 1 through 6 {
		&:nth-child(#{$i}) {
			left: ( $dotSize + ( $margin * 2 ) ) * ( $i - 1 );
		}
	}

	li {
		display: block;
		// box-sizing: border-box;
		padding: 0;
		width: $dotSize;// + ( $margin * 2 );
		height: $dotSize;// + ( $margin * 2 );
		padding: $margin;
		position: absolute;
		bottom: ($dotSize + $margin + $margin) * 8;

		@for $i from 1 through 12 {
			&:nth-child(#{$i}) {
				bottom: ($dotSize + $margin + $margin) * ( $i - 1 );
			}
		}

		-webkit-transition: 250ms bottom;
		transition: 250ms bottom;

		// kick in GPU
		-webkit-transform: translateZ(0);
		transform: translateZ(0);

		// setup "currentColor"
		@for $i from 1 through 5 {
			&.#{nth($classes, $i)} {
				color: nth($colors, $i);
			}
		}

		&:after {
			display: block;
			content: '';
			width: $dotSize;
			height: $dotSize;
			border-radius: 50%;
			-webkit-transition: 400ms box-shadow;
			transition: 400ms box-shadow;
			background: currentColor;
		}

		&.active:after { box-shadow: 0 0 0 ($margin / 5) #fff, 0 0 ($margin * 1.5) ($margin / 5) currentColor; }
	}
}